extends layout

block content
  form(id='form', method='POST', action='/edit')
    p Id: #{user.id}
    p Username: 
      input(type='text' name='username', value=user.username)
    p Password: 
      input(type='password' name='password')
    p Email:
      input(type='text' name='email' ,value=user.email)
    p Age:
      input(type='text' name='age' ,value=user.age)
    p Are you an only child?
      input(type='radio' name='question1' value='yes' checked=user.question1=="yes")
      label Yes
      input(type='radio' name='question1' value='no' checked=user.question1=="no")
      label No
    p Is Christmas the best holiday?
      input(type='radio' name='question2' value='yes' checked=user.question2=="yes")
      label Yes
      input(type='radio' name='question2' value='no' checked=user.question2=="no")
      label No
    p Do you put up the Christmas tree before Thanksgiving?
      input(type='radio' name='question3' value='yes' checked=user.question3=="yes")
      label Yes
      input(type='radio' name='question3' value='no' checked=user.question3=="no")
      label No
    p Avatar
      table
        tr
          p Create An Avatar
          th
            p Select your eyes:
            td#eyes1.btn
            td#eyes2.btn
            td#eyes3.btn
            td#eyes4.btn
            td#eyes5.btn
            td#eyes6.btn
            td#eyes7.btn
            td#eyes9.btn
            td#eyes10.btn
        tr
          th
            p Select your nose:
            td#nose2.btn
            td#nose3.btn
            td#nose4.btn
            td#nose5.btn
            td#nose6.btn
            td#nose7.btn
            td#nose8.btn
            td#nose9.btn
        tr
          th
            p Select your mouth:
            td#mouth1.btn
            td#mouth3.btn
            td#mouth5.btn
            td#mouth6.btn
            td#mouth7.btn
            td#mouth9.btn
            td#mouth10.btn
            td#mouth11.btn
        tr
          th
            p Select your color:
            td#663399.btn
            td#D32208.btn
            td#0900E4.btn
            td#01A02F.btn
            td#757175.btn 
        tr
          img#avatarImage(src="https://api.adorable.io/avatars/face/eyes1/nose1/mouth1/757175" style='margin-left: 20px;')
        br
    p
      input(type='submit' value='Update Account')

    a(href='/delete') Delete
      div(id="delete-button" class="delete-button")
      
  script(src="editAvatar.js")